

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primery-color);
}

.title {
    font-family: "DynaPuff", sans-serif;
    font-weight: 600;
    line-height: 1.2;
}

.subtitle {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: var(--secondary-color);
}


.section {
    max-width: $bp-base;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.container,
.header__container {
    display: block;
    max-width: $bp-desktop;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    

    @media screen and (max-width: $bp-desktop) {
        max-width: 992px;
    }

    @media screen and (max-width: $bp-tablet) {
        max-width: 760px;
    }

    @media screen and (max-width: 576px) {
        max-width: 100%;
    }

}

a {
    text-decoration: none;
}