/* HEADER */

.header__container {
    background-image: radial-gradient(circle, rgb(249, 234, 75) 0%, rgba(255, 238, 50, 1) 0%, rgba(214, 214, 214, 1) 150%);
    max-width: $bp-base;
    width: 100%;
}

.header__container-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    z-index: 9;
    background-color: rgb(32, 32, 32, 0);
    height: 92px;
    max-width: $bp-base;
    width: 100%;
    margin-top: 48px;
    gap: 260px;
    margin-left: -12px;

    &:hover {
        background-color: var(--primery-color);
    }

    @media screen and (max-width: $bp-tablet-bg) {
        justify-content: space-between;
        padding: 0 34px;
        max-width: $bp-tablet-bg;
    }

    @media screen and (max-width: $bp-tablet) {
        padding: 0 17px;
        gap: 1%;
    }
  
}

.navbar {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;

    &__list {
        display: flex;
        gap: 20px;

        @media screen and (max-width: $bp-tablet-bg) {
            display: none;
        }
    }

    & ul a {
        color: var(--secondary-color);
        padding: 10px 13px;
        border: 1px solid var(--secondary-color);
        border-radius: 20px;
    }
}

.navbar__burger-menu {
    display: none;
    width: 56px;
    height: 56px;
    background-color: rgb(249, 234, 75, 0.2);
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    cursor: pointer;

    @media screen and (max-width: $bp-tablet-bg) {
        display: block;
    }
}

.navbar__list-favicon {
    padding-right: 12px;
}

.header__title {
    font-size: 80px;
    line-height: 1.2;
    color: var(--secondary-color);
    max-width: 846px;
    width: 100%;
    padding-top: 491px;
    padding-bottom: 119px;
    margin-left: 191px;

    @media screen and (max-width: $bp-tablet-bg) {
        padding-top: 273px;
        padding-bottom: 130px;
        margin-left: 34px;
        width: max-content;
        max-width: 521px;
    }

    @media screen and (max-width: $bp-tablet) {
        max-width: 326px;
        padding-top: 412px;
        margin-left: 21px;
        font-size: 48px;
        padding-bottom: 150px;
    }

     @media screen and (max-width: $bp-mobile) {
        font-size: 42px;
    }
}

