// Кольори

:root {
    --primery-color: #202020;
    --secondary-color: #ffffff;
    --bg-grey-color: #3C3C3C;
    --bg-white-color: #FFFEF2;
    --grey-color: #565656;
    --black-color: #000000;
}

// Розміри екрану (container width)

$bp-base: 1440px;
$bp-desktop: 1060px;
$bp-tablet-bg: 1199px;
$bp-tablet: 767px;
$bp-mobile: 375px;