
/* HEADER */

header {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 1440px;

    & ul {
        display: flex;
        gap: 20px;
    }

    &__list a {
        color: var(--secondary-color);
        padding: 10px 13px;
        border: 1px solid var(--secondary-color);
        border-radius: 20px;
    }

    @media screen and (max-width: $ui-breakpoints-xl) {
        display: none;
    }
}

.navbar__list-item img {
    display: none;
}

.navbar__list-favicon {
    padding-right: 12px;
}

h1 {
    font-family: 'DynaPuff', sans-serif;
    font-size: 80px;
    color: var(--secondary-color);
    font-weight: 600;
    width: 846px;
    padding-top: 491px;
    margin-left: 191px;
}

.header__container {
    background-image: radial-gradient(circle, rgba(249, 234, 75, 1) 0%, rgba(255, 238, 50, 1) 0%, rgba(214, 214, 214, 1) 150%);
    height: 800px;

    }

.header__container-wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 8;
    background-color: rgb(32, 32, 32, 0);
    height: 92px;
    gap: 380px;
    padding: 24px 195px;
    // max-width: 1440px;
    margin-top: 48px;

        &:hover {
            background-color: var(--primery-color);
        }

}



