
/* HEADER */

header {
    position: fixed;
    top: 0;
    z-index: 8;
    width: 100%;
}

.header__container {
    height: 92px;
    background-color: var(--primery-color);
    display: flex;
    align-items: center;

}

.header__container-wrapper {
    display: flex;
    gap: 397px;
    align-items: center;
    margin: 24px 195px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   

    & ul {
        display: flex;
        gap: 20px;
    }

    &__list a {
        color: var(--secondary-color);
        padding: 10px 13px;
        border: 1px solid var(--secondary-color);
        border-radius: 20px;
    }

}

.navbar__list-favicon {
    padding-right: 12px;
}
